/* ++++++++++++++++ BASE ++++++++++++++++ */

body {
	font-family: 'Arial', sans-serif;
	font-weight: 500;
	color: #fff;
	background-color: #333;
}

h1, h2, h3, h4, h5, .btn {
	font-family: 'Arial', sans-serif;
	font-weight: 700;	
}

h2 {
	font-size: 25px;
	line-height: 29px;
}

h3 {
	font-size: 22px;
	line-height: 27px;
	margin-top: 5px;
}

h4 {
	font-size: 17px;
}


hr {
	border-width: 3px;
}

a {
	text-decoration: underline;
	color: #334B78;
}

a:hover  {
	color: #79c35b;
}

header a, footer a, a.btn {
	text-decoration: none;
}

.post .img-responsive {
	margin: 15px 0 15px 0;
}

/* +++ HEADER +++ */

#logoHeadContainer {
    background-color: #222222;
}

/* +++ NAVBAR +++ */

.navbar {
    margin-bottom: 0;
}

.navbar-toggle {
    border-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-nav > li > a {
    color: #fff;    
}

.navbar-nav > li > .dropdown-menu {
    background-color: #334B78;	
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #334B78;
    color: #fff;
}

.nav > li > a:focus {
    background-color: #334B78;
    color: #fff;    
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #334B78;
    color: #fff;	
}

.dropdown-menu > li > a {
	color: #fff;	
}

.dropdown-menu > li > a:hover {
	color: #fff;
	background-color: #5cc8d7;
}

/* +++ COOKIE & NO JS +++ */

.alert {
    margin-bottom: 0;
	font-size: 12px;
	padding: 10px;
}

.alert-danger {
	background-color: #f37b7d;
	border-color: #f37b7d;
	color: #000;
	font-size: 18px;
}

.alert-warning {
	background-color: #755;
	background-color: rgba(85, 51, 51, 0.42);
	color: #fff;
	color: rgba(255, 255, 255, 0.66);
	border-color: rgba(250, 235, 204, 0.33);
}

.alert-warning .alert-link {
    color: #ECA425;
	color: rgba(236, 164, 37, 0.62);
}

.alert-dismissable .close {
	right: 2px;
}

#no-js-msg {
	display: none;
}

.no-js #no-js-msg {
	display: block;
}

/* +++ Logo +++ */

.logo a {
	text-decoration: none;
}

/* +++ OTHER +++ */

.picture_container {
	margin-top: 20px;
}


/* +++ FORMS +++ */

fieldset {
	padding: 15px;
	border: 1px dotted #bbb;
	margin-top: 10px;
}

legend {
	border-bottom: none;
	padding-left: 10px;
	margin-bottom: 0;
}

.form-group {
	margin-bottom: 20px;
}

.checkbox, .radio {
	margin-bottom: 15px;
}

textarea {
	margin-bottom: 5px;
}

.low-priority {
    color: #666;
}

div.awesomplete {
	width: 100%;
}

label sup {
  top: -.3em;
  color: #00f;
  font-size: 85%;
}

label.error {
    color: #f37b7d;
	font-weight: normal;
}

/*  BUTTONS */

.buttoncontainer {
	margin: 15px 0 15px 0;
}

.btn-default {
	background-color: #000002;
	border-color:  #000002;
}

.btn-primary {
	background-color: #5cc8d7;
	border-color:  #5cc8d7;
}

.btn-success {
	background-color: #79c35b;
	border-color:  #79c35b;	
}

.btn-info {
	background-color: #334B78;
	border-color:  #334B78;	
}

.btn-warning {
	background-color: #fbf293;
	border-color:  #334B78;
	color: #334B78;
}

.btn-warning:hover {
	background-color: #fef695;
	border-color:  #304976;
	color: #334B78;
}

.btn-danger {
	background-color: #f37b7d;
	border-color:  #f37b7d;	
}

.btn-new {
	background-color: #ECECEC;
	border-color:  #D5D5D5;

}

/* +++ THANK YOU MESSAGE +++ */

#thankyou {
	display: none;
}

#social_sharing_container {
	display: none;
}

/* +++ FOOTER +++ */

#footerContainer {
    background-color: #222222;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer {
    padding: 8px 0 8px 0;
}

footer, footer a, footer a:hover, footer a:visited {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

/* ++++++++++++++++ RESPONSIVE VIDEO ++++++++++++++++ */

.video-container {
    position: relative;
    padding-bottom: 50.75%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ++++++++++++++++ PHOTO WIDGET MAX ++++++++++++++++ */

.photo-widget {
	margin: 20px 0 30px 0;
}

.photo-item img, .title-item img {
	margin: 0;
	padding: 0;
	width: 100%;
	
}

.title-item, .photo-item {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 4px;
	position: relative;
}

.photo-item h2 {
	position: absolute;
	color: #222;
	font-weight: normal;
	font-size: 17px;
	margin: 2px 0px 2px 7px;
}

/* ++++++++++++++++ PORTRAIT MAX ++++++++++++++++ */

#largePortrait img {
	max-width: 100%;
}

.profile #largePortrait {
	margin: 15px 0 25px 0;
}


/* ++++++++++++++++ Social share button ++++++++++++++++ */

#socialBox {
	margin-top: 15px;
}

.homebutton {
	background-color: #222;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	margin: 5px 0px 5px 0;
	font-size: 17px;
}

.socialsharebutton {
	background-color: #ccc;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	margin: 0;
}
.socialsharebutton a, .homebutton a {
	color: #fff;
}

#whatsapp {
	background-color: #5cbe4a;
}

#twitter {
	background-color: rgb(85,172,238);
}

#facebook {
	background-color: rgb(72,100,159);
}

#googleplus {
	background-color: rgb(219, 68, 55);
	display: none;
}

.socialsharebutton, .homebutton {
	cursor: pointer;
}

.shareResults {
	margin: 10px 0 10px 0;
}

.profile h3 {
	margin-top: 12px;
}

/* ++++++++++++++++ Modal ++++++++++++++++ */

.modal-content {
	background-color: #333;
}

.modal-content .close {
	font-size: 36px;
	margin-right: 10px;
	text-shadow: 2px 2px 0 #000;
	color: #f00;
	opacity: 1;
}

.modal-content .close:hover {
	color: #fff;	
}

#modalOutsideContainer {
	margin: 20px;
}

#politicianImageContainer img {
	max-width: 100%;
}

/* ++++++++++++++++ 600 px AND UP ++++++++++++++++ */

@media (min-width: 600px ) {
	
	.pre_lead {
		margin-top: 16px;
	}
	
	.home h1.logo {
		margin-top: 12px;
		font-size: 32px;
	}
	
	.arrow {
		width: 40px;
	}
	.continue {
		font-size: 17px;	
	}
	
	#googleplus {
		display: block;
	}
	#whatsapp {
		display: none;
	}
	
	.photo-item h2 {
		font-size: 20px;
		margin: 5px 0px 5px 10px;
	}
	
}

/* ++++++++++++++++ 768 px AND UP ++++++++++++++++ */

@media (min-width: 768px ) {
	
	.profile h3 {
		margin-top: 12px;
	}
	
	.home h1.logo {
		font-size: 27px;
	}
	
	.title-item, .photo-item {
		width: 32.95%;
	}
	
	#socialBox {
		margin-top: 25px;
	}
	
	.photo-item h2 {
		font-size: 14px;
		margin: 2px 0px 2px 7px;
	}
	
	.homebutton {
		margin: 15px 0px 10px 0;
	}

}

/* ++++++++++++++++ 992 px AND UP ++++++++++++++++ */

@media (min-width: 992px ) {
    
    .greenlogo {
        width: 150px;
    }

	.home h1.logo {
		font-size: 31px;
	}
	
	.photo-item h2 {
		font-size: 17px;
		margin: 2px 0px 2px 7px;
	}
    
}

/* ++++++++++++++++ 1200 px AND UP ++++++++++++++++ */

@media (min-width: 1200px ) {
	
	.home h1.logo {
		font-size: 45px;
	}

}